{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nuevo item{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="title">Nombre</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="image">Seleccione la imagen:</label>
    <input type="file" name="image"/>
    <label for="body">Descripcion</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="price">Precio</label>
    <input name="price" type="float" id="price" maxlength="10" value="{{ request.form['price'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
