{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nueva seccion{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="title">Seccion</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
