{% extends 'base.html' %}

{% block header %}
  <h1 class="resttitle">{% block title %}{{ name.capitalize() }}{% endblock %}</h1>
  <a class="action" href="{{ url_for('blog.QR', name=name) }}">QR</a>

  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create_section') }}">Agregar una sección</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for section in sections %}
  <article class="section">
        <header>
          <div>
            <h1>{{ section['title'].capitalize() }}</h1>
          </div>
          {% if g.user %} 
            <div>
              <a class="action" href="{{ url_for('blog.create_item', section_id=section['id']) }}">Agregar un item</a>
            </div>
            <div>
              <a class="action" href="{{ url_for('blog.update_section', id=section['id']) }}"><i class="fa fa-fw fa-edit"></i></a>
            </div>
          {% endif %}
        </header>
      </article>
      <hr>
    {% for item in items %}
      {% if section['id'] == item['section_id'] %}
        <article class="post">
          <header>
            <div>
              <h1>{{ item['title'].capitalize() }}</h1>
            </div>
            <div>
              <h1>{{ item['price'] }}</h1>
            </div>
            {% if g.user['id'] == item['author_id'] %}
              <a class="action" href="{{ url_for('blog.update_item', id=item['id']) }}"><i class="fa fa-fw fa-edit"></i></a>
            {% endif %}
          </header>
          <p class="body">{{ item['body'] }}</p>

        </article>
        {% if not loop.last %}
        {% endif %}
      {% endif %}
      
    {% endfor %}
  {% endfor %}
{% endblock %}