{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Nombre</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or section['title'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete_section', id=section['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}