
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
html{-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
body{ margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}[tabindex="-1"]:focus{outline:0!important}
h1 { font-family: serif; color: black; margin: 1rem 0; }
a { color: #377ba8; }
hr{box-sizing:content-box;height:0;overflow:visible}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}
nav { background: #007bff ; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; color: #28a745}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; color: #28a745; text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;}
nav ul  { display: flex; list-style: none; margin: 0; padding: 0.25rem 0.5rem; text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black; }
nav ul li a, nav ul li span, header .action { padding: 0.5rem; color: #28a745}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #4CAF50;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #555;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.responsive-bg {
  width: 100%;
  min-width: 300px;
  height: auto;
  min-height: 200px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}


.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.bg-text h1 {
  color: white;
}


.resttitle { 	font-size: 300%;
				max-width: 500px;
  				margin-bottom: 100px;
  				text-align: center;}
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid black; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.section { display: flex; font-size: 1.5em; }
.section > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.section > header > div:first-of-type { flex: auto; }
.section > header h1 { font-size: 2em; margin-bottom: 0; }
.section .about { color: black; font-style: italic; }
.section .body { white-space: pre-line; }
.section .action div a { display: flex }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.7em; margin-bottom: 0; }
.post .about { color: gray; font-style: italic; }
.post .body { white-space: pre-line; margin-top: 0;}
.content:last-child { margin-bottom: 0; }
.content form { margin: 0.85em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 0.85em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.button {
  background-color: dodgerblue;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.button a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;

}
.qrcode-text-btn {
  display: inline-block;
  height: 1em;
  width: 1em;
  background: url(qr_icon.png) 50% 50% no-repeat;
  cursor: pointer;
}

.qrcode-text-btn > input[type=file] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

#remark{
  background-color: white;
  border-radius: 5px;
}
