<!Doctype html>
<head>
<html lang="es">
<title>{% block title %}{% endblock %} AnikaLove</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="manifest" href="/manifest.json">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Weather PWA">
<link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">
<meta name="description" content="Menu and costumer services">
<meta name="theme-color" content="#007bff" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Navigation -->
<body id="page-top">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <h1><a href="{{ url_for('index') }}"><i class="fa fa-fw fa-home"></i>AnikaLove</a></h1>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('blog.hello', name=g.user['username']) }}"><i class="fa fa-fw fa-user"></i>{{ g.user['username'] }}</a>
      <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-fw fa-arrow-right"></i>Log Out</a>
    {% else %}
      <a href="{{ url_for('auth.login') }}"><i class="fa fa-fw fa-angle-right"></i>Login</a>
      <div id='remark'>
      <a href="{{ url_for('auth.register') }}"><i class="fa fa-fw fa-user"></i>Sign up</a>
      </div>
    {% endif %}
      <li><h1><a href="{{ url_for('blog.scan') }}"><i class="fa fa-fw fa-qrcode"></i>Scan</a></h1>
  </ul>
</nav>
<section class="content">
  
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% block scripts %}
<script>
    //Register service worker.
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/service-worker.js')
        .then((reg) => {
          console.log('Service worker registered.', reg);
        });
  });
}
</script>
{% endblock %}