{% extends 'base.html' %}
{% block content %}
	<h1>Hola este es el codigo QR del restaurant {{ name.capitalize() }}</h1>
{% if name %}
  	<img src="{{ qrcode('http://www.garcon.com/' + name, error_correction='H', icon_img='images/icons/garson.png')  }}">
{% else %}
  	<h1>Este usuario no existe</h1>
{% endif %}
{% endblock %}